.products-container{
    background-color: #f0f0f0;
}
.gym-section{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.gym-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}

.exercise-details{
    background-color: white;
    border-radius: 10px;
}
.dumbbell-icon-div{
    display: flex;
    align-items: center;
    margin-left: 50px;

}
.dumbbell-icon{
    font-size: 50px;
    margin-right: 5px;
}
.today-exercise{
    margin-left: 50px;
    margin-bottom: -30px;
    color: lightseagreen;
}